server:
  port: 8083
  shutdown: graceful

spring:
  main:
    banner-mode: off
  application:
    name: telegram-bot
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: 'true'
        dialect: org.hibernate.dialect.PostgreSQLDialect

decorator:
  datasource:
    datasource-proxy:
      query:
        enable-logging: true
        log-level: info
      slow-query:
        enable-logging: true
        log-level: warn
        threshold: 10
      count-query: false

webdriver:
  local: true

logging:
  level:
    org.springframework.cloud.openfeign.clientconfig: DEBUG
    org.zalando.logbook: TRACE
  pattern:
    level: '%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]'

com:
  balievent:
    client:
      thebeatbali:
        base_url: "https://thebeatbali.com"
    calendar:
      range:
        end: 2025-12-03
    bot:
      token: 6711002396:AAGKVf9gFAMbiJuW0vtjuu4FSbJr_F9r1hM
      username: test_me_bali_sima_bot
